.arrow{
  font-size: 4em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 2;
  //border: 2px solid black;
  border-radius: 50%;
  color: #fff;
}



.position--left{

  transform: translate(10%, -50%);
  left: 0;
}
.position--right{
  transform: translate(-10%, -50%);
  right: 0;
}

@media(max-width: 1000px){
  .arrow{
    font-size: 2em;
  }
}

@media (max-width: 650px) {
  .arrow{
    display: none;
  }
}