
:root{
  --items-width: 100%;
}


.slider{
  height: 100%;
  width: 100%;
  position: relative;
}
.window{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;


}

.all-items-container{
  height: 100%;
  display: flex;
  user-select: none;
}


.item{
  height: 100%;
  width: var(--items-width);
  min-width: var(--items-width);
  max-width: var(--items-width);
}



// arrow
.slider-arrow{
  opacity: 0;
  transition: opacity .3s linear;
}
.slider:hover .slider-arrow{
  opacity: 1;
}
// pagination
.slider-pagination{
  position: absolute;
  display: flex;
  justify-content: center;
  right: 50%;
  bottom: 2%;
  transform: translateX(50%);

}
.slider-pagination i{
  color: #fff;
  transition: all .05s;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}
.slider-pagination i:hover{

}



