
:root{
  --items-width: 100%;
}
//.slider{
//  height: 400px;
//  width: 800px;
//
//}
//
//.window{
//  height: 100%;
//  width: 100%;
//  overflow: hidden;
//  position: relative;
//
//}
//
//.all-items-container{
//  height: 100%;
//  display: flex;
//  transition: transform .5s;
//}
//
//// ---------------- slider item
//
//.item{
//  height: 100%;
//  width: var(--items-width);
//  min-width: var(--items-width);
//  max-width: var(--items-width);
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  position: relative;
//}
//
//
//.item-img{
//  width: 100%;
//  height: 100%;
//  object-fit: cover;
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//}

.slider{
  height: 400px;
  width: 800px;
}
.window{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.all-items-container{
  height: 100%;
  display: flex;
}
.all-items-container.animation{
  transition: transform .5s linear;
}

.item{
  height: 100%;
  width: var(--items-width);
  min-width: var(--items-width);
  max-width: var(--items-width);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.item-0{
  background-color: yellow;
}
.item-1{
  background-color: aquamarine;
}
.item-2{
  background-color: coral;
}
.item-3{
  background-color: yellow;
}
.item-4{
  background-color: aquamarine;
}

